# Analysis

## Config

In [4]:
import pandas as pd
import numpy as np

## Get Data

In [11]:
prices_df = pd.read_csv("prices.txt", sep=r'\s+', header=None)
prices_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,13.46,71.65,48.46,50.52,52.10,13.00,18.98,47.71,69.49,49.96,...,32.64,55.76,14.46,58.94,36.71,52.62,49.33,36.22,49.00,56.09
1,13.48,72.10,48.52,50.50,52.06,12.95,18.95,47.84,69.73,49.93,...,32.52,55.97,14.44,59.81,36.64,52.58,49.20,36.27,48.84,56.08
2,13.47,72.35,48.48,50.62,51.80,12.79,18.98,47.98,69.60,49.33,...,32.48,56.34,14.50,59.04,36.89,52.49,49.48,36.39,48.56,55.90
3,13.53,72.51,48.42,50.75,51.66,12.66,18.96,48.74,69.54,49.67,...,32.59,56.32,14.40,58.73,36.94,52.40,49.42,36.41,49.00,56.14
4,13.64,71.99,48.40,50.65,51.97,12.62,18.89,48.88,69.68,49.46,...,32.64,56.32,14.36,59.01,37.03,52.44,49.79,36.42,48.14,55.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,13.69,67.73,46.64,45.72,52.42,10.07,18.05,48.42,69.00,56.19,...,30.73,75.82,10.63,61.35,32.85,50.57,64.36,33.74,33.83,53.47
496,13.58,67.75,46.65,45.71,52.57,10.07,17.99,47.65,69.04,56.00,...,30.70,76.46,10.65,61.20,32.60,50.54,64.65,33.78,33.42,53.91
497,13.69,67.83,46.66,45.66,52.38,10.02,18.02,46.87,68.95,56.09,...,30.70,75.16,10.75,60.82,32.79,50.42,64.28,33.60,33.75,54.22
498,13.55,67.61,46.73,45.62,52.29,10.02,18.03,46.21,69.03,56.51,...,30.69,76.09,10.68,60.73,32.45,50.31,63.60,33.79,33.53,54.50
499,13.40,67.33,46.72,45.73,52.30,10.09,18.02,46.48,69.06,57.55,...,30.77,75.81,10.67,60.78,32.34,50.21,64.00,33.82,33.40,55.01

## Calculate Returns

In [63]:
def calculate_prev_returns(prices, start_day, end_day):
    return (prices.shift(start_day) / prices.shift(end_day) - 1)

In [84]:
returns_1_day = calculate_prev_returns(prices_df, 0, 1)
returns_2_5_days = calculate_prev_returns(prices_df, 2, 5)
returns_5_10_days = calculate_prev_returns(prices_df, 5, 10)
returns_10_30_days = calculate_prev_returns(prices_df, 10, 30)
returns_30_100_days = calculate_prev_returns(prices_df, 30, 100)

return_dfs = [returns_1_day, returns_2_5_days, returns_5_10_days, returns_10_30_days, returns_30_100_days]
return_df_names = ["returns_1d", "returns_2_5d", "returns_5_10d", "returns_10_30d", "returns_30_100d"]

In [85]:
to_join_dfs = []
for df, name in zip(return_dfs, return_df_names):
    new_df = pd.melt(df, ignore_index=False, var_name="stock", value_name=name).reset_index().rename(columns={"index":"day"})
    to_join_dfs.append(new_df)

In [95]:
all_returns_df = pd.melt(prices_df, ignore_index=False, var_name="stock", value_name="price").reset_index().rename(columns={"index":"day"})
for df in to_join_dfs:
    all_returns_df = all_returns_df.merge(df, on=["day", "stock"])
all_returns_df

,day,stock,price,returns_1d,returns_2_5d,returns_5_10d,returns_10_30d,returns_30_100d
0,0,0,13.46,NaN,NaN,NaN,NaN,NaN
1,1,0,13.48,0.001486,NaN,NaN,NaN,NaN
2,2,0,13.47,-0.000742,NaN,NaN,NaN,NaN
3,3,0,13.53,0.004454,NaN,NaN,NaN,NaN
4,4,0,13.64,0.008130,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
24995,495,49,53.47,-0.010914,-0.003319,-0.002391,-0.009295,-0.016138
24996,496,49,53.91,0.008229,0.000000,-0.009346,-0.008539,-0.017143
24997,497,49,54.22,0.005750,-0.013287,-0.003127,-0.009114,-0.021755
24998,498,49,54.50,0.005164,-0.002590,-0.005703,-0.002935,-0.028856
24999,499,49,55.01,0.009358,0.002960,-0.003135,-0.001105,-0.032091

In [96]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add/rm <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	deleted:    analysis.ipynb
	modified:   eval.py
	deleted:    teamName.py

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	Cutiepatooties.py
	wokringanalysishopefully.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [97]:
!git commit -am"beep boop"

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'James@Phoenix.(none)')

In [ ]:
!git config --global user.email z5420660@unsw.edu.au